@model Blog.Models.PostModel
@section Scripts{
    <partial name="Scripts" />
  }
<h1>Alterar Post</h1>
<form asp-controller="Post" asp-action="Alterars" method="post">
    <label asp-for="Titulo"></label>
    <input asp-for="Titulo" />
    <span asp-validation-for="Titulo"></span>
    <br />
    <label asp-for="Resumo"></label>
    <input asp-for="Resumo" />
    <span asp-validation-for="Resumo"></span>
    <br />
    <label asp-for="Categoria"></label>
    <input asp-for="Categoria" />
    <span asp-validation-for="Categoria"></span>
    <input asp-for="Data_Publicacao" type="hidden" />
    <input asp-for="Publicado" type="hidden" />
    <br />
    <button>Alterar</button>
    <input asp-for="Id" type="hidden" />
</form>

