<h1>Novo Post</h1>
<form action="/Post/Adiciona">
    <label>Titulo</label>
    <input name="Titulo" />
    <br />
    <label>Resumo</label>
    <input name="Resumo" />
    <br />
    <label>Categoria</label>
    <input name="Categoria" />
    <br />
    <button>Cadastrar</button>
</form>
