@model Blog.Models.PostModel
@section Scripts{
    <partial name="Scripts" />
}
<h1>Novo Post</h1>
<form action="/Post/Adiciona" method="post">
    @Html.EditorForModel()
    <button>Cadastrar</button>
</form>
