@model IEnumerable<Blog.Models.PostModel>
@foreach (var p in Model)
{
    <article>
        <h2>@p.Titulo</h2>
        <p>@p.Resumo</p>
        <p>@p.Data_Publicacao.Value.ToString("dd/MM/yyyy")</p>
    </article>
}