<aside>
    <div>
        <h3>Buscar</h3>
        <form asp-controller="Home" asp-action="Buscar">
            <input name="Termo" class="form-control" required />
            <button>Ok</button>
        </form>
    </div>
    <div id="categorias">
        <h3>Categorias</h3>
    </div>
    <div id="Autores">
        <h3>Autores</h3>
    </div>
</aside>