@model Blog.Models.PostModel
@section Scripts{
    <partial name="Scripts" />
}
<div class="input-group">
    <label asp-for="Titulo"></label>
    <input asp-for="Titulo" class="form-control" />
    <span asp-validation-for="Titulo"></span>
</div>
<br />
<div class="input-group">
    <label asp-for="Resumo"></label>
    <textarea asp-for="Resumo" class="form-control"></textarea>
    <span asp-validation-for="Resumo"></span>
</div>
<br />
<div class="input-group">
    <label asp-for="Categoria"></label>
    <input asp-for="Categoria" class="form-control" autocomplete="off" />
    <span asp-validation-for="Categoria"></span>
</div>
<br />


