@model Blog.Models.PostModel
@section Scripts{
    <partial name="Scripts" />
}
<label asp-for="Titulo"></label>
<input asp-for="Titulo" />
<span asp-validation-for="Titulo"></span>
<br />
<label asp-for="Resumo"></label>
<input asp-for="Resumo" />
<span asp-validation-for="Resumo"></span>
<br />
<label asp-for="Categoria"></label>
<input asp-for="Categoria" autocomplete="off" />
<span asp-validation-for="Categoria"></span>
<br />
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script>
    $('input[name="Categoria"]')
        .autocomplete({
            minLength: 3,
            source: function (req, resp) {
                $.get('/Post/CategoriaAutoComplete'
                    , { termo: req.term }
                    , resp);
            }
        });
</script>