@model Blog.Models.Usuario
@section Scripts{
    <partial name="Scripts" />
}
<div class="input-group">
    <label asp-for="Login"></label>
    <input asp-for="Login" class="form-control" />
    <span asp-validation-for="Login"></span>
</div>
<br />
<div class="input-group">
    <label asp-for="Senha"></label>
    <textarea asp-for="Senha" class="form-control"></textarea>
    <span asp-validation-for="Senha"></span>
</div>
<br />
<div class="input-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" autocomplete="off" />
    <span asp-validation-for="Email"></span>
</div>
<br />


