<aside>
    <h1>Administração</h1>
    <ul>
        <li><a asp-controller="Post" asp-action="Index">Posts</a></li>
        <li><a asp-controller="Post" asp-action="Novo">Novo</a></li>
        <li><a asp-controller="Usuario" asp-action="NovoU">Novo Usuario</a></li>
        <li><a asp-controller="Usuario" asp-action="IndexU">Listar Usuario</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Área Publica</a></li>
        <li><a asp-area="" asp-controller="Autenticacao" asp-action="Logout">LogOut</a></li>
    </ul>
</aside>